@import url(chakra_petch.css);
@import url(background_animation.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #090A0C;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    color: #F0F3F5;
    text-align: center;
    font-family: 'Chakra Petch', Arial, sans-serif;
    font-weight: 400;
}

header {
    z-index: 2;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #F0F3F5;
    font-size: 5vmax;
    font-weight: 600;
    margin-top: 0.2em;

    /* Prevent text selection */
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

a:link, a:visited {;
    color: #F0F3F5;
  }

.link-list-container {
    z-index: 2;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally within the container */
    padding: 20px 20px;
}

.link-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2vmax;
    padding: 12px 0 12px 12px;
    width: 10vmax; /* Adjust the width as needed */
    transition: background-color 0.3s, color 0.3s;
}

.link-item:hover {
    background-color: #F0F3F5;
    color: #090A0C;
}

/* Add spacing between the link items */
.link-item + .link-item {
    margin-top: 10px;
}

footer {
    z-index: 2;
    margin-top: auto;
    padding: 10px 20px;
    text-align: center;
}

.commit-hash {
    font-size: 1vmax;
    font-weight: 300;
}
