/* Set the body to take full viewport height and have a black background */
body {
    height: 100vh;
    background-color: #090A0C;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F3F5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-container {
    line-height: 1.2;
}

.intro-text {
    font-size: 1.2em;
    font-weight: lighter;
}

.name {
    font-size: 4em;
    font-weight: bold;
    margin-top: 0.2em;

    /* Prevent text selection */
    user-select: none;          /* Standard syntax */
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
}

@media (min-width: 1200px) {
    .text-container {
        font-size: 2vw;
    }
}